@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Josefin+Sans:wght@100;200&family=Lexend+Deca:wght@100;200&family=Poppins:wght@100;200;300;400;500;600&family=Roboto:ital,wght@0,100;1,100&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
  font-family: 'Poppins',sans-serif;
}

body {
  background: #F5F7FA;

  color: #245389;
  overflow: hidden;
  overflow-y: scroll;
  padding: 1rem;
 
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background:  #696161;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #41C4AF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3865ad;
}




.aside {
  width: 10rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
 
  box-shadow: 9px 0px 29px 0px rgba(0,0,0,0.61);
-webkit-box-shadow: 9px 0px 29px 0px rgba(0,0,0,0.61);
-moz-box-shadow: 9px 0px 29px 0px rgba(0,0,0,0.61);

}

.content{
 
  box-shadow: 9px 0px 29px 0px rgba(0,0,0,0.61);
-webkit-box-shadow: 9px 0px 29px 0px rgba(0,0,0,0.61);
-moz-box-shadow: 9px 0px 29px 0px rgba(0,0,0,0.61);
margin: 0 1rem ;
padding: 1rem;

}

.main{
  width: 100%;
  display: flex;
  
 
}


.nav
{
  text-align: center;
  margin: 1rem;
  padding: 0.5rem 1rem;
  outline: 1px solid rgb(40, 73, 106);
  cursor: pointer;
  border-radius: 0.5rem;
}
a.profile-btn{
  color: red;
}

p{
  padding: 1rem;
}

.content{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1{
  padding: 2rem;
}

.container{
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 9px 0px 29px 0px rgba(0,0,0,0.61);
  -webkit-box-shadow: 9px 0px 29px 0px rgba(0,0,0,0.61);
  -moz-box-shadow: 9px 0px 29px 0px rgba(0,0,0,0.61);
  margin: 0 1rem ;
  padding: 1rem;
  margin: 10rem auto;
  border-radius:1rem ;
}
.container a {
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  outline: 1px solid rgb(184, 92, 82);
}
.searchForm{ width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.xx{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1 {
  text-align: center;
}

.form-container {
   /* Adjust the max-width as needed */
   max-width: 30rem;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.form-container form {
  padding: 1rem;
}

.profile-image {
  display: block;
  margin: 0 auto;
}

#profile_picture {
  display: none;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  max-width: 20rem;
  padding: 10px;
  margin: 5px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.login-form{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#photo {
  display: none;
}

#choose-photo-label {
  cursor: pointer;
  color: #0074cc;
  text-align: center;
}

input[type="submit"] {
  background-color: #0074cc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056a4;
}



/* Style the form title */
.form-title {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Style form input fields */
.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Style the submit button */
.submit-button {
  background-color: #0074d9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the login link */
.login-link {
  color: #0074d9;
  text-decoration: none;
  margin-left: 10px;
}

/* Add hover effect to the submit button and login link */
.submit-button:hover, .login-link:hover {
  background-color: #0056b3;
}

.searchForm {
  text-align: center;
  margin: 20px;
}

.form-row {
  display: flex;
  align-items: center;
}

.search-input, .filter-select, .date-input, .search-button {
  margin: 5px;
  padding: 5px;
  border: 1px solid rgb(106, 106, 117);
  border-radius: 0.5rem ;
}

.filter-select, .date-input {
  flex: 1;
}

.date-label {
  margin: 1rem;
  padding: 5px;
}

.search-button {
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Add hover effect to the search button */
.search-button:hover {
  background-color: #0056b3;
}
aside a {
  text-decoration: none;
  background-color: #0074cc;
  color: white;
  margin: 0.5rem;
  text-align: center;
  padding: 5px 10px;
  border-radius: 4px;
  margin-right: 10px;
}

aside a:hover {
  background-color: #0056a4;
}

tr a,button {
  padding: 0.5rem;
  margin: 0.3rem;
  border-radius: 0.5rem;
}

tr:hover {
 background-color:rgb(236, 177, 163) !important; 
}

td{
  border-left: 1px solid gray;
  text-align: center;
}